In [6]:
import pandas as pd
import numpy as np

from glob import glob
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
from PIL import Image

plt.style.use('ggplot')

In [7]:
import cv2
from PIL import Image
import pytesseract

In [8]:
image_file = "Test_Sample.jpg"
# image_file_2 = "aanti.jpg"
image = cv2.imread(image_file)
image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

In [9]:
image = cv2.GaussianBlur(
 src=image,
 ksize=(3, 3),
 sigmaX=0,
 sigmaY=0)

In [10]:
cv2.imwrite("KB.jpg",image)

True

In [11]:
no_noise = "KB.jpg"

In [12]:
import pytesseract
ocr_result =pytesseract.image_to_string(no_noise, lang='eng')
print(ocr_result)

BNW HAs

Government of India ¢
AISA ATA
NAJMA KHATUN
Prot: aa mat fier
Father : UMMAR ALI MIYA
ST HF / Year of Birth : 1994
af / Female

4072 6523 3592

In [18]:
# import cv2

# img = cv2.imread('aanti.jpg', 0)
# cv2.threshold(img, 0, 255, cv2.THRESH_BINARY + cv2.THRESH_OTSU, img)

# contours, hire= cv2.findContours(img, cv2.RETR_EXTERNAL,
#                                   cv2.CHAIN_APPROX_NONE)
# for c in contours:
#   # get the bounding rect
#   x, y, w, h = cv2.boundingRect(c)
#   # draw a white rectangle to visualize the bounding rect
#   cv2.rectangle(img, (x, y), (x + w, y + h), 255, 1)

# cv2.drawContours(img, contours, -1, (255, 255, 0), 1)

# cv2.imwrite("output.jpg", img)

True

In [13]:
import pandas as pd
data_result =pytesseract.image_to_data(
    no_noise,
    output_type=pytesseract.Output.DATAFRAME,
    lang='eng')
# df = pytesseract.Output.DATAFRAME(data_result)
# df = df[df['text'].notnull()]
# df = df.reset_index(drop=True)
# print(df)
# print(data_result)

In [16]:
data_result.head(75)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1200,675,-1.000000,NaN
1,2,1,1,0,0,0,117,0,101,187,-1.000000,NaN
2,3,1,1,1,0,0,117,0,101,187,-1.000000,NaN
3,4,1,1,1,1,0,172,0,46,32,-1.000000,NaN
4,5,1,1,1,1,1,172,0,46,32,95.000000,
...,...,...,...,...,...,...,...,...,...,...,...,...
70,5,1,5,1,1,1,451,510,95,40,92.834084,4072
71,5,1,5,1,1,2,573,508,91,39,92.834084,6523
72,5,1,5,1,1,3,690,505,88,40,96.553596,3592
73,2,1,6,0,0,0,94,483,1106,192,-1.000000,NaN
74,3,1,6,1,0,0,94,483,1106,192,-1.000000,NaN

In [22]:
import re

test_str = '0410 0111 1997'
# test_str = ocr_result
# pattern_str = r'^\d{4} \d{4} \d{4}$'
# pattern_str = \d{4}\s?\d{4}\s?\d{4}/
pattern_str =r'\b\d{4}\s\d{4}\s\d{4}\b'

if re.match(pattern_str, test_str):
	print("True")
	print (test_str)
else:
	print("False")
	print (test_str)

False
sdfdfgf 0410 0111 1997

In [1]:
from aadhar_pan_extractor import Pan_Info_Extractor,Aadhar_Info_Extractor

c:\Users\Pratham\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
extractor = Aadhar_Info_Extractor()

In [3]:
extractor.info_extractor('KB.jpg')

'{"Aadhar_number": "4072 6523 3592", "Name": null, "Gender": "Female", "DOB": "1994", "Address": "NAN"}'